# Игнорируем папку node_modules
node_modules/

# Игнорируем файлы конфигурации и настройки редакторов
.vscode/

# Игнорируем лог-файлы
*.log

# Игнорируем файлы среды
.env

# Игнорируем временные файлы и кэш
*.tmp
*.swp
